<!doctype html>
<html>
 <head>
  <title>Rap.ai</title>
 </head>
 <body>
  <div id="root"></div>
  <link rel="stylesheet" href="/assets/app.css" />
  <script src="<%-build%>/bundle.js"></script>
 </body>
</html>
