@font-face {
  font-family: 'Avenir-Black';
  src: url("/assets/fonts/Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir-Bold';
  src: url("/assets/fonts/Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir-Medium';
  src: url("/assets/fonts/Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir-Regular';
  src: url("/assets/fonts/Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir-Light';
  src: url("/assets/fonts/Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Avenir-Roman';
  src: url("/assets/fonts/Roman.ttf") format("truetype"); }

* {
  margin: 0px;
  padding: 0px; }

body {
  max-width: 900px;
  margin: 0 auto; }

#root {
  position: relative; }

.child {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%); }

* {
  list-style: none; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input {
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  min-width: 500px;
  font-family: 'Avenir-Medium';
  font-size: 1.5em;
  color: #24CF5F; }

.react-autosuggest__input:focus {
  outline: none; }

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 70px;
  list-style: none; }

.react-autosuggest__suggestions-container--open {
  list-style: none;
  min-width: 530px;
  border-radius: 3px;
  border: 1px solid #e2e2e2; }

.highlight {
  color: #ee0000;
  font-weight: bold; }

.react-autosuggest__suggestion--focused .highlight {
  color: #120000; }

.artist-name {
  font-family: 'Avenir-Regular';
  font-size: 1em;
  color: #333; }

.artist-img {
  width: 70px;
  border-radius: 70px;
  border: 2px solid #24CF5F; }

.suggestion-link {
  text-decoration: none; }

.suggestion-container {
  border-bottom: 1px solid #e2e2e2; }
  .suggestion-container:hover {
    background-color: #FAFAFA; }

.inner-suggestion-container {
  padding: 10px 20px; }
  .inner-suggestion-container img, .inner-suggestion-container div {
    display: inline-block;
    vertical-align: middle; }
  .inner-suggestion-container p {
    color: #666666;
    margin-left: 20px;
    font-size: 1.5em; }

.generate_container {
  margin-top: 80px; }

.artist_header {
  padding: 40px 0px;
  text-align: center; }
  .artist_header p, .artist_header img {
    vertical-align: middle; }
  .artist_header img.artist {
    width: 140px;
    border-radius: 140px;
    border: 3px solid #24CF5F;
    margin: 10px 0px; }
  .artist_header p.name {
    margin: 5px 0px;
    font-family: "Avenir-Medium";
    font-size: 1.8em;
    color: #333; }

.sub * {
  display: inline-block;
  vertical-align: middle; }

.social {
  width: 30px;
  display: inline-block; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #c6c6c6; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c6c6c6;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c6c6c6;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c6c6c6; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c6c6c6; }
